[user]
	name	= Jacob Silva
	email	= questforall@gmail.com

[color]
	ui	= auto

[core]
	pager	= less -FRSX
	editor	= vim -c ':normal gg'

[merge]
	tool	= vimdiff

[commit]
	template = ~/.git.commit.template
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
