[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vimoutliner"]
	path = vim/vim/bundle/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner.git
[submodule "vim/vim-latex"]
	path = vim/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "vim/vim/bundle/vim-bufexplorer"]
	path = vim/vim/bundle/vim-bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/vim/bundle/vim-rst-tables"]
	path = vim/vim/bundle/vim-rst-tables
	url = https://github.com/nvie/vim-rst-tables
